.godot/editor/editor_layout.cfg
.godot/editor/editor_script_doc_cache.res
.godot/editor/filesystem_cache10
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/extension_list.cfg
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.ctex
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.editor.ctex
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.editor.meta
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.md5
.godot/uid_cache.bin
addons/ziva_agent/bin-deps/windows_x86_64/.gdignore
addons/ziva_agent/bin-deps/windows_x86_64/git/git.exe
addons/ziva_agent/bin-deps/windows_x86_64/git/libiconv-2.dll
addons/ziva_agent/bin-deps/windows_x86_64/git/libintl-8.dll
addons/ziva_agent/bin-deps/windows_x86_64/git/libpcre2-8-0.dll
addons/ziva_agent/bin-deps/windows_x86_64/git/libwinpthread-1.dll
addons/ziva_agent/bin-deps/windows_x86_64/git/zlib1.dll
addons/ziva_agent/bin/windows_x86_64/libziva_agent.windows.release.x86_64.dll
addons/ziva_agent/bin/windows_x86_64/~libziva_agent.windows.release.x86_64.dll
addons/ziva_agent/icon.svg
addons/ziva_agent/icon.svg.import
addons/ziva_agent/LICENSE.md
addons/ziva_agent/manifest.json
addons/ziva_agent/README.md
addons/ziva_agent/ziva_agent.gdextension
addons/ziva_agent/ziva_agent.gdextension.uid
addons/ziva_agent/ziva_input_harness.gd
addons/ziva_agent/ziva_input_harness.gd.uid
addons/ziva_agent/zivacode/windows_x86_64/zivacode.exe
scenes/interactables/Shop.gd
scenes/tower/Tower.gd
.godot/editor/editor_layout.cfg
.godot/editor/editor_script_doc_cache.res
.godot/editor/filesystem_cache10
.godot/editor/project_metadata.cfg
.godot/editor/script_editor_cache.cfg
.godot/extension_list.cfg
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.ctex
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.editor.ctex
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.editor.meta
.godot/imported/icon.svg-092e97b879f73eb599fff18ea13f23cb.md5
.godot/uid_cache.bin
addons/ziva_agent/bin-deps/windows_x86_64/.gdignore
addons/ziva_agent/bin-deps/windows_x86_64/git/git.exe
addons/ziva_agent/bin-deps/windows_x86_64/git/libiconv-2.dll
scenes/interactables/Shop.gd
scenes/tower/Tower.gd
